### Node.js ###
node_modules/

### Jest ###
coverage

### Google Apps Script ###
dist/*
!dist/appsscript.json

### VS Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
